* {
    margin: 0;
    padding: 0;
}

.box-minmax {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #ffffff;
}

.rs-label {
    @apply w-5 h-5 flex items-center justify-center gap-0.5 rounded-full bg-white shadow border border-gray-300 focus:outline-none focus:bg-gray-100;
    pointer-events: none;
    /* background: theme('colors.white'); */
    position: relative;
    top: 36px;
    display: block;
    width: 60px;
    /* padding: 5px 0px 5px 0px; */
    /* border-radius: 6px; */
    margin-left: -20px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    transition:
        background 200ms ease,
        top 200ms ease;
}

.rs-background {
    background-color: #0071fe;
    top: 0px;
}

/* input[type='range']::-webkit-slider-runnable-track {
    @apply h-2;
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    
}

input[type='range']:hover::-webkit-slider-thumb {
    margin-top: -7px;
    height: 22px;
    border-radius: 100px;
    width: 22px;
}

input[type='range']:hover::-webkit-slider-thumb div {
    background-color: #0071fe;
} */

[data-part='root'][data-focus] {
    /* styles for root focus state */
}

[data-part='control'][data-focus] {
    /* styles for control focus state */
}

[data-part='track'] {
    @apply flex-[1_1_0%] nm-inset-gray-200 rounded-md cursor-pointer h-5 overflow-hidden border border-gray-300;
}

[data-part='range'] {
    @apply flex-[1_1_0%] nm-flat-blue-400-xs h-5 rounded-[4px] cursor-pointer;
}

[data-part='thumb'] {
    @apply nm-convex-blue-400-xs border-[2px] h-8 w-4 rounded-full mt-[-4px] shadow border-gray-300;
}

